* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins';
}

p {
	font-size: 16px;
	line-height: 30.4px;
}

a {
	text-decoration: none;
}

header {
	position: sticky;
	top: 0;
	z-index: 50;
	background-color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	transition: 0, 2s ease-in-out;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
	gap: 3rem;
}

.main-container {
	padding: 0 150px;
}

/* Home Section */

.home {
	height: 700px;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	align-items: center;
}

.main-container.home {
	padding: 0 200px;
}

.home-name {
	font-size: 3rem;
	font-weight: 700;
	margin: 0.5rem 0 1rem;
	color: black;
}

.home-right img {
	width: 275px;
	border-radius: 0.7rem;
}

.home-right {
	display: flex;
	justify-content: center;
}

/* title */
.pre-title {
	text-transform: uppercase;
	letter-spacing: 8px;
	color: grey;
	position: relative;
	padding-left: 5px;
	width: fit-content;
	font-weight: 400;
	font-size: 16px;
}

.pre-title::before {
	width: 20px;
	height: 1px;
	background: black;
	position: absolute;
	left: 0;
	top: 50%;
}

/* button */
.btn {
	padding: 16px 24px;
	background: #8E44AD;
	color: white;
	border: 1.5px solid black;
	cursor: pointer;
	border-radius: 5px;
}

.btn:hover {
	background: rgb(212, 167, 210);
	color: black;
}


/* logo dan navbar menu */

.logo {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 2rem;
	margin-left: 2rem;
}

.logo a {
	color: black;
}

.nav nav ul li button {
	color: black;
	display: flex;
	align-items: center;
	border: none;
	background: white;
	font-size: 20px;
	cursor: pointer;
}

/* About Section */
section#about {
	background-color: rgb(212, 167, 210);
	padding: 8rem 0;
}

.section-title-about {
	text-align: center;
	margin: 1rem 0;
}

/* layout */
.grid-3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 3rem;
	padding: 0px 200px;
}

.about {
	padding: 2rem 1rem;
	text-align: center;
	background: #431955;
	border-radius: 0.7rem;
}

.about-desc {
	text-align: center;
	padding: 0 40px;
}

.about h4 {
	color: white;
	margin: 0.5rem 0;
}

.about p {
	color: white;
}

.about-icon {
	background-color: rgb(212, 167, 210);
	width: fit-content;
	margin: 0 auto;
	padding: 1rem 1.3rem;
	border-radius: 0.5rem;
}

.main-container.skills {
	padding: 0 200px;
}

/* Timeline & Skills */

ul.skill-ul {
	list-style: disc;
	flex-direction: column;
	gap: 0;
	background: white;
}

.section-title-skills {
	text-align: center;
	margin: 1rem 4rem;
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 0.5rem;
}

.timeline {
	display: flex;
	gap: 2rem;
}

.timeline .line {
	padding: 0 0.7rem;
}

.timeline .line div {
	width: 2px;
	height: 100%;
	background: black;
	position: relative;
}

.timeline-info {
	margin: 0.3 0;
}

.timeline-date {
	margin-bottom: 3rem;
}

.timeline .line div::before {
	content: '';
	width: 15px;
	height: 15px;
	background: black;
	border-radius: 50%;
	position: absolute;
	left: -6px;
}

.skills-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1.5rem;
}

.skills-right {
	line-height: 2rem;
	padding: 0 1rem;
}

section#skills {
	padding-top: 3rem;
}
/* End of Experience & Skills */

/* Contact */
#contact {
	padding: 6rem;
}

.contact-form div {
	padding-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	padding: 0.75rem 1.3rem;
	background: white;
	border: 1px solid gainsboro;
	border-radius: 3px;
	resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: grey;
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline: none;
	border: 1px solid gray;
}

.btn-submit {
	width: 100%;
	padding: 0.75rem 1.3rem;
	background-color: #431955;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.btn-submit:hover {
	background-color: rgb(212, 167, 210);
	color: black;
}
/* End of Contact */

/* Footer Section */
footer {
	margin-bottom: 0;
	padding: 4rem 0;
	background: rgb(212, 167, 210);
	text-align: center;
}

.footer-icon {
	margin-bottom: 1rem;
}

.footer-icon a {
	margin: 0 0.5rem;
}

.footer-icon a:hover {
	fill: black;
}

.footer-icon {
	fill: grey;
}
